main, main a {
  color: #ccc;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

input {
  display: flex;
  height: 32px;
  padding: 0 16px;
  border-radius: 4px;
}

input[type="text"] {
  flex: 0.95;
}

input[type="submit"] {
  background: #0d6efd;
  border: 1px solid #0d6efd;
  color: #fff;
}

input[type="submit"]:hover {
  background: brightness(0.8);
  cursor: pointer;
}

table {
  width: 100%;
  border: 1px solid #ccc;
}

thead, tbody {
  text-align: left;
}

thead td {
  cursor: pointer;
}

td {
  padding: 8px;
}

td a {
  align-items: center;
}

td a + a {
  display: none;
}

td a svg {
  margin-left: 8px;
}

@media (max-width: 720px) {
  -body {
    border: 1px solid blue;
  }

  form#filter-results {
    flex-wrap: wrap;
  }

  form#filter-results > * {
    min-width: 100%;
  }

  form#filter-results input {
    _border: 1px solid red;
  }

  form#filter-results p {
    margin-top: 8px;
    text-align: left;
  }

  table {
    border: none;
  }

  table tr {
    display: flex;
    flex-wrap: wrap;
  }

  table td, table th {
    min-width: 100%;
    word-break: break-word;
  }

  table tbody tr + tr {
    border-top: 1px solid #666;
  }

  table thead {
    display: none;
  }

  table thead tr {
    border-bottom: 1px solid #666;
  }
}