main#post {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
}

article {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  max-width: 1152px;
  background: #303030;

  border: 1px solid #202020;
  border-radius: 8px;
}

article aside {
  _flex: 1;
}

article img {
  height: max-content;
}

article section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  _flex: 3;
  min-width: 420px;
  align-items: baseline;
  text-align: left;
}

article img, article section {
  padding: 16px;
}

article h2, article div {
  max-width: 400px;
}

article h2 {
  font-size: 20px;
  margin-bottom: 24px;
}

article div {
  display: flex;
  flex-direction: column;
}

article div a {
  display: flex;
  align-items: center;
  margin: 24px 0;
}

article a div {
  background: var(--gray-800);
  background: var(--app-500);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  align-self: center;
  margin-right: 8px;
}

article a svg {
  width: 16px;
  height: 16px;
}

article a p {
  flex: 1;
  width: calc(100% - 40px);
}

@media (max-width: 720px) {
  #post h2, #post a {
    word-wrap: break-word;
    _background-color: var(--gray-200);
  }

  aside, article, article section {
    flex-wrap: wrap;
    min-width: 100%;
    max-width: 100%;
  }

  aside {
    _border: 1px solid var(--gray-800);
  }

  article {
    _border: 1px solid var(--gray-800);
  }

  section {
    _border: 1px solid var(--gray-800);
    overflow: hidden;
  }
}
