main.page-trend {
  color: var(--gray-200);

  a {
    color: var(--gray-200);
  }

  .actions {
    display: flex;
    justify-content: center;

    svg {
      font-size: 24px;
      cursor: pointer;

      & + svg {
        margin-left: 16px;
      }
    }
  }

  h3 {
    text-align: left;
    border-bottom: 1px solid var(--gray-800);
    padding-top: 24px;
  }

  img {
    width: 100%;
    max-width: 240px;
    object-fit: cover;
  }

  img,
  span,
  p,
  pre {
    opacity: 0.2;
    opacity: 1;
    text-align: left;
  }
}

#horizontal {
  -border: 1px solid red;
  padding-left: 0 !important;
  padding-right: 0 !important;

  .results-wrapper {
    padding: 8px 32px;
  }
}

#grid {
  -border: 1px solid yellow;
  padding-left: 32px !important;
  padding-right: 32px !important;

  .results-wrapper {
    padding-left: 32px;
    padding-right: 32px;

    & + .results-wrapper {
      margin-top: 48px;
    }
  }

  ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 24px 0;

    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
  }

  li {
    text-align: left;
  }
}

@media (min-width: 600px) {
  #grid {
    ul {
      grid-template-columns: repeat(auto-fill, 200px);
      margin: 0 16px;
      margin: 0;
    }
  }
}
