* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }

  input, button {
    font-size: 100%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
    font-size: 80%;
  }

  html, input, button {
    font-size: 87.5%;
  }
}

html, body, #root {
  height: 100%;
}

body {
  background: #27242f;
}

body, input, button {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a img:hover {
  opacity: 0.7;
}

a svg:hover {
  opacity: 0.7;
}

main {
  padding: 32px;
  text-align: center;
}

@media (max-width: 720px) {
  main {
    padding: 16px;
  }
}

.Toastify__toast-body {
  white-space: pre-line;
}

.circle-button {
  width: 48px;
  height: 48px;
  background: #0d6efd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 64px;
  right: 64px;
}

.circle-button svg {
  width: 24px;
  height: 24px;
  color: #fff;
}