* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFF;
  --gray-50: #F7F8FA;
  --gray-100: #E6E8EB;
  --gray-200: #AFB2B1;
  --gray-500: #808080;
  --gray-800: #494D4B;
  --green-500: #04D361;
  /* https://www.color-hex.com/color/2cb19a */
  --app-300: #2cb19a;
  --app-400: #279f8a;
  --app-500: #238d7b;
  --app-800: #1e7b6b;
  --bg-300: #1f1c25;
  --bg-400: #27242f;
  --bg-500: #3c3943;
  --bg-800: #524f58;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }

  input, button {
    font-size: 100%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
    font-size: 80%;
  }

  html, input, button {
    font-size: 87.5%;
  }
}

html, body, #root {
  height: 100%;
}

body {
  background: var(--bg-400);
}

body, input, button {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a img:hover {
  opacity: 0.7;
}

a svg:hover {
  opacity: 0.7;
}

main {
  padding: 32px;
  text-align: center;
}

@media (max-width: 720px) {
  main {
    padding: 16px;
  }
}

.Toastify__toast-body {
  white-space: pre-line;
}

.circle-button {
  width: 48px;
  height: 48px;
  background: #2cb19a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 64px;
  right: 64px;
}

.circle-button svg {
  width: 24px;
  height: 24px;
  color: #fff;
}